@import '@Project/css/variable.scss';

%border-shared {
    border: 1px solid $gray;
}

%font-shared {
    color: $gray;
    font-size: 16px;
    font-weight: normal;
}

.dropdown {
    &>div {
        width: 100%;
        @extend %border-shared;
        border-radius: 0;
        background-color: #fff;
        @extend %font-shared;
        height: 40px;
        padding-left: 12px;
        padding-right: 45px;
        padding-top: 6px;
        text-overflow: ellipsis;
    }

    &>ul {
        @extend %border-shared;
        border-top: none;
        display: block;

        li {
            @extend %font-shared;
            padding: 0.7em 0 0.5em;
            border-bottom: 1px solid $light_gray;
            &:hover, &:global(.selected) {
                color: $dark_blue;
            }
            &:global(.selected) {
                font-weight: bold;
            }
            &:first-child {
                padding-top: 0.4em;
            }

            &:last-child {
                border-bottom: none;
            }
            
        }
    }
}
