@import '@Project/css/variable.scss';

:global(.rich-text) .groupHeader {
    margin-bottom: 25px;
    font-size: 20px;
    color: $dark_blue;
}

.typeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 75px;
    .credit-rating & {
        justify-content: flex-start;
    }
}
.typeDiv {
    width: 400px;
    flex-grow: 1;
    margin-bottom: 18px;
}
:global(.rich-text) .typeHeader {
    font-size: 16px;
}
.debt_limit_type {
    width: 100%;
    max-width: 100%;
    p {
        margin-bottom: 0;
    }
}
.credit2015, .credit2018 {
    max-width: 125px;
    margin-right: 90px;
}

:global(.compare-label) {
    font-style: italic;
}
:global(.autoComplete_outerWrapper) {
    > span {
    margin-right: 20px;
    margin-top: 10px;
   }
    @media screen and (max-width: 834px){
        flex-direction: column;
        align-items: center;
        max-width: 320px;
    }
}
:global(.autoComplete_wrapper) {
    width: 100%;
    max-width: 320px;
    margin-right: 20px;
   
}

:global(.compare-selection-wrapper) {
    margin-bottom: 65px;
}

:global(.autoComplete) {
    padding: 0;
    border-bottom-color: $gray;
    &::placeholder {
        font-weight: bold;
    }
}
.autoComplete0::placeholder {
    color: $light_blue;
}
.autoComplete1::placeholder {
    color: $medium_blue;
}