<section id="section-overview">
	<h2 class="static" role="button" tabindex="0" aria-label="Show/hide content">Overview</h2>
    <div class="js-inner-content">
    
	<p>
	    When state policymakers try to assess how much debt to take on for projects
	    such as roads, bridges, and schools, they often compare debt levels in
	    their state to those of others. Because no universal guidelines exist for
	    how much debt is affordable, many policymakers evaluate how their state
	    stacks up against others with a common credit rating or national median
	    debt level.
	</p>
	<p>
	    But selecting a peer group based only on a common rating or using national
	    benchmarks overlooks many factors that influence borrowing levels. States
	    with growing populations, for example, tend to borrow more; a state&#8217;s
	    fiscal health affects the funds available for debt service; and policies
	    meant to limit state debt can influence how much local governments and
	    other state entities borrow for capital projects.
	</p>
	<p>
	    To address this gap, The Pew Charitable Trusts has created an interactive
	    tool to allow policymakers to compare states based on seven characteristics
	    related to debt.<sup>*</sup> States can use these data to select more
	    tailored peer groups, giving them a deeper understanding of how states with
	    similar borrowing practices, constraints, and needs manage their borrowing.
	    Ultimately, these improved comparisons will help them make better-informed
	    decisions.
	</p>
	<p class="pct-footnote">
	<sup>*</sup> To measure debt levels, this tool uses Census Bureau data. For more
	    information about these characteristics and why Pew chose them, see the 
	    &#8220;About the Data&#8221; section below.
	</p>

    </div>
    </section>
<section id="section-comparison">
	<h2 class="static" role="button" tabindex="0" aria-label="Show/hide content">State Comparison</h2>
    <div class="js-inner-content">
        <div class="compare-selection-wrapper">
            <span class="compare-label">Compare</span><br />
            <div class="flex flex-start flex-baseline autoComplete_outerWrapper">
                <div class="autoComplete_wrapper">
                    <input id="compare-input-0">
                </div>
                <span>to</span>
                <div class="autoComplete_wrapper">
                    <input id="compare-input-1">
                </div>
            </div>
        </div>
    </div>
    </section>
<section id="section-states">
	<h2 class="static" role="button" tabindex="0" aria-label="Show/hide content">50-State Data</h2>
    <div class="js-inner-content">
    </div>
    </section>
<section id="section-about">
	<h2 class="static" role="button" tabindex="0" aria-label="Show/hide content">About the Data</h2>
    <div class="js-inner-content">
    
	<p>
    Pew researchers developed this list of characteristics by examining
    relevant literature and consulting subject matter experts. The final set of
    seven characteristics included in the tool was selected based on evidence
    in the literature that the characteristics are related to state debt, the
    feasibility of collecting the data used to construct the characteristic,
    and a desire to avoid redundancy. Pew also limited the number of
    characteristics to make the tool easy to use and understand.
</p>
<p>
    The goal of this tool was not to create an exhaustive catalog of the
    factors that may affect state borrowing levels, so states should not feel
    the need to limit themselves to the data in it when selecting peers.
    Instead, the tool is intended to help states consider these differences
    when constructing peer groups.
</p>
<h3 class="static">
    Borrowing practices
</h3>
<p>
    How states borrow also affects how they should make comparisons: General
    obligation (GO) debt limits, centralization, and the division of
    state-local borrowing in a state can affect state borrowing practices.
</p>
<h4>
    General obligation debt limit type (2018)
</h4>
<p>
    GO debt is one of the most common types issued by states. It carries a
    state’s full faith and credit, the strongest possible pledge. As a result,
    GO debt is typically a state’s highest rated and lowest cost since credit
    rating agencies and bond purchasers strongly believe the state will repay
    it.<sup>1</sup> 
</p>
<p>
    Not all states issue much GO debt. All but two have GO debt limits, which
    vary in restrictiveness and structure. For example, Connecticut limits this
    debt to 1.6 times total estimated general fund tax receipts, while Arizona
effectively prohibits its issuance.<sup>2</sup> Comparing Connecticut
    and Arizona, then, might not be appropriate because Connecticut has
    significant GO debt and Arizona none. Connecticut’s debt will draw on the
    state’s general fund in a way Arizona’s won’t. (GO debt is typically
    supported by a state’s general fund.) Because analyzing the revenue streams
    available for debt repayment is important, this is a key difference.
</p>
<p>
    These limits sometimes apply to state debt beyond just GO borrowing. For
    example, West Virginia’s limit applies to net tax-supported debt, which
    includes GO.
</p>
<p>
    Pew has classified each state’s limit for GO debt as one of the following
    types:
</p>
<ul>
    <li>
        <strong>Constitutional amendment.</strong>
        Three states—Alabama, Ohio, and West Virginia—require an amendment to
        their constitutions to issue GO debt.
    </li>
    <li>
        <strong>Metric.</strong>
        In 11 states—Connecticut, Georgia, Hawaii, Mississippi, Nevada, New
        Hampshire, North Dakota, Oregon, Tennessee, Utah, and Wisconsin—debt is
        not allowed to exceed a certain metric-based threshold. Tennessee, for
        example, caps debt service at 10 percent of combined revenues in its
        general, debt service, and highway funds.
    </li>
    <li>
        <strong>Metric-based with referendum to exceed.</strong>
        North Carolina, Pennsylvania, and Wyoming use a metric to cap debt but
        allow issuance above the cap with voter approval.
    </li>
    <li>
        <strong>No limit.</strong>
        Maryland and Vermont place no restrictions on GO debt.
    </li>
    <li>
        <strong>Prohibition.</strong>
        Arizona, Colorado, Indiana, and Nebraska prohibit GO debt. Indiana law
        forbids any GO debt to be issued; the others authorize amounts so
        low—$350,000 or less—as to be equivalent to prohibitions.
    </li>
    <li>
        <strong>Referendum and/or supermajority.</strong>
        Thirteen states—Alaska, Arkansas, California, Idaho, Iowa, Kansas,
        Kentucky, Maine, Michigan, Minnesota, Missouri, Montana, and Rhode
        Island—require some combination of voter approval and/or a legislative
        supermajority (generally three-fifths or two-thirds) to issue debt.
    </li>
    <li>
        <strong>Referendum and/or supermajority and metric.</strong>
        Fourteen states—Delaware, Florida, Illinois, Louisiana, Massachusetts,
        New Jersey, New Mexico, New York, Oklahoma, South Carolina, South
        Dakota, Texas, Virginia, and Washington—require a referendum and/or
        supermajority and have a metric-based cap on debt or debt service.
    </li>
</ul>
<div class="pct-note"><p>
    <strong>Note:</strong> The classification system is a variation on the approach taken in D.
    Roderick Kiewiet and Kristin Szakaly, “Constitutional Limitations on
Borrowing: An Analysis of State Bonded Indebtedness,”    <cite>The Journal of Law, Economics &amp; Organization</cite> 12, no. 1 (1996):
    62-97,
    <a href="https://www.jstor.org/stable/765039?seq=1#page_scan_tab_contents">
        https://www.jstor.org/stable/765039?seq=1#page_scan_tab_contents</a>.
</p>
<p>
    <strong>Source:</strong> Pew analysis of state constitutions and statutes
</p></div>
<h4>
    Centralization (fiscal year 2014)
</h4>
<p>
    Another effect of Arizona’s prohibition on GO debt is decentralized debt
    issuance.<sup>3</sup> This means
    borrowing is done by entities other than the primary—meaning
    state—government, including the independent agencies and authorities known
    as component units. Centralization measures component unit debt as a share
    of the total debt issued by both the primary government and its component
    units.
</p>
<p>
    Component unit debt generally relies less on state funds for repayment than
    primary government debt. Often, lenders have no legal claim on state
    general funds if the component unit defaults. As a result, state
    comparisons based on total debt may be misleading. Montana and Delaware,
    for example, have about the same total debt, but most of Montana’s debt is
    held by component units and most of Delaware’s is held by the state.
</p>
<div class="pct-note"><p>
    <strong>Note:</strong> To calculate centralization in a state, Pew first analyzed the
    state’s comprehensive annual financial report to determine how much debt
    was held by the primary government. That was then compared to a sum of the
    debt of major component units as reported in their annual financial
    statements.<sup>4</sup> 
</p></div>
<h4>
    The state-local borrowing division (2015)
</h4>
<p>
    One factor that influences state debt levels is the division of borrowing
    between state and local governments. In some states, local governments are
    responsible for paying for most capital projects within their
    jurisdictions. In other places, the state is responsible for those
    projects. Instead of a city or town bonding to finance them, the state
    takes on this debt—increasing its overall borrowing. The division of
    borrowing responsibility is related to the debt limit. Local governments in
    Arizona, for example, borrow more than the state does because the state’s
ability to borrow is so restricted.<sup>5</sup> This tool measures the
    state-local borrowing division as the share of total debt within a state
    issued by local governments.
</p>
<div class="pct-note"><p>
    <strong>Source:</strong> Pew analysis of data from U.S. Census Bureau, “Annual Survey of
    State and Local Government Finances: 2015 Data Release” (2018),
    <a
        href="https://www.census.gov/programs-surveys/gov-finances/newsroom/updates/release.html"
    >
        https://www.census.gov/programs-surveys/gov-finances/newsroom/updates/release.html</a>
</p></div>
<p>
    <strong></strong>
</p>
<h3 class="static">
    Fiscal conditions and infrastructure needs
</h3>
<p>
    Fiscal conditions may affect a state’s willingness to issue debt and
    ability to repay it, while infrastructure needs might increase a state’s
    demand for debt. Observing trends and variations among states in both
    categories can allow officials to create more appropriate peer groups.
</p>
<h4>
    Revenue volatility (1997-2016)
</h4>
<p>
    Revenue volatility is the annual fluctuation in tax collections and is
    affected by each state’s mix of tax streams. It indicates whether a state
    can expect to dedicate a relatively consistent share of its revenue to its
    liabilities year to year or whether that share will show greater
    fluctuation as revenue varies. States with stable revenue can plan debt
    issuances and pay down debt more easily than states with uncertain tax
    collections can.<sup>6</sup> States
    with more volatile revenue may therefore wish to compare themselves to
    states with similar concerns.
</p>
<p>
    Pew used data from 1997 to 2016 to calculate a revenue volatility score for
    each state. The score reflects variations in yearly percentage changes in
revenue between 1997 and 2016.<sup>7</sup> States have differing
    levels of volatility because they have unique revenue mixes. Alaska has a
    highly volatile revenue stream because much of its collections come from
    unpredictable severance taxes on oil. Other states—such as South Dakota,
    which earns more of its revenue from stable sources like personal income
    taxes—have less volatility. A low volatility score means that revenue
    levels were similar from year to year, and a high score indicates that
    revenue grew or declined more dramatically.
</p>
<div class="pct-note"><p>
    <strong>Source:</strong> The Pew Charitable Trusts, “Tax Revenue Volatility, FY 1997-2016,”
    last modified Aug. 29, 2018,
    <a
        href="http://www.pewtrusts.org/en/research-and-analysis/data-visualizations/2014/fiscal-50#ind6"
    >
        http://www.pewtrusts.org/en/research-and-analysis/data-visualizations/2014/fiscal-50#ind6</a>
</p></div>
<h4>
    Population growth (2008-17)
</h4>
<p>
    Population growth drives infrastructure needs. More people means greater
    pressure on a state’s infrastructure, necessitating improvements and new
    construction. Research shows that as a state’s population grows, so too
does its demand for, and in some cases spending on, capital construction.<sup>8</sup> 
</p>
<p>
    As a result, states with similar growth patterns may have similar demands
    for infrastructure. For this reason, Pew used population growth as a proxy
    for infrastructure demand, a metric for which exact, reliable sources are
    scarce. Observing population growth can help identify peers and provides a
    data point not often used in interstate debt comparisons.
</p>
<p>
    Pew selected a 10-year population growth rate, measured as the increase or
    decrease in state population between 2008 and 2017. Although no consensus
    exists in academic literature regarding the appropriate time span for
    examining population trends, this period captured the trough of the Great
    Recession, the subsequent economic expansion, and the resulting demographic
    and geographic shifts.<sup>9</sup> 
</p>
<div class="pct-note"><p>
    <strong>Sources:</strong> Pew analysis of data from U.S. Census Bureau, “Annual Survey of
    State and Local Government Finances: 2015 Data Release” (2018),
    <a
        href="https://www.census.gov/programs-surveys/gov-finances/newsroom/updates/release.html"
    >
        https://www.census.gov/programs-surveys/gov-finances/newsroom/updates/release.html</a>
    ; U.S. Census Bureau, “Annual Estimates of the Resident Population for the
    United States, Regions, States, and Puerto Rico: April 1, 2010 to July 1,
    2017,” Table 1,
    <a
        href="https://www2.census.gov/programs-surveys/popest/tables/2010-2017/state/totals/nst-est2017-01.xlsx"
    >
        https://www2.census.gov/programs-surveys/popest/tables/2010-2017/state/totals/nst-est2017-01.xlsx</a>
    ; U.S. Census Bureau, “Intercensal Estimates of the Resident Population for
    the United States, Regions, States, and Puerto Rico: April 1, 2000 to July
    1, 2010,” Table 1,
    <a
        href="https://www2.census.gov/programs-surveys/popest/tables/2000-2010/intercensal/state/st-est00int-01.xls"
    >
        https://www2.census.gov/programs-surveys/popest/tables/2000-2010/intercensal/state/st-est00int-01.xls</a>
</p></div>
<h3 class="static">
    Debt levels (2015)
</h3>
<p>
    Debt levels are a natural point of comparison and are influenced by the
    preceding characteristics. While an absolute dollar amount provides useful
    information, it does not put the amount of debt into context relative to
    the state’s resources.<sup>10</sup> 
    Given size, population, and economic differences among states, a dollar
    amount is also less useful for state comparisons. Instead, normalized
    ratios allow states of various sizes to compare themselves. Consistent with
    the best practices for understanding debt affordability, Pew’s tool
    includes two ratios—debt per capita and debt as a percentage of state
    personal income—to give a more complete measure of a state’s debt.
    State-based analyses often use a ratio of debt service to revenue when
    evaluating debt levels and setting limits. This ratio is not included in
this tool due to cross-state comparability issues.<sup>11</sup> 
</p>
<h4>
    Debt per capita
</h4>
<p>
    Because debt is repaid through revenue generally in the form of taxes or
    user fees paid by residents, assessing debt relative to its repayment
    source—the resident—is a common approach. Debt per capita, which measures
    total debt against a state’s population, makes comparisons between states
    of different sizes feasible and helps policymakers understand the debt
    burden on individual residents.
</p>
<div class="pct-note"><p>
    <strong>Sources:</strong> Pew analysis of data from U.S. Census Bureau, “Annual Survey of
    State and Local Government Finances,” 2015 Data Release (2018),
    <a
        href="https://www.census.gov/programs-surveys/gov-finances/newsroom/updates/release.html"
    >
        https://www.census.gov/programs-surveys/gov-finances/newsroom/updates/release.html</a>
    ; U.S. Census Bureau, “Annual Estimates of the Resident Population for the
    United States, Regions, States, and Puerto Rico: April 1, 2010 to July 1,
    2017,” Table 1,
    <a
        href="https://www2.census.gov/programs-surveys/popest/tables/2010-2017/state/totals/nst-est2017-01.xlsx"
    >
        https://www2.census.gov/programs-surveys/popest/tables/2010-2017/state/totals/nst-est2017-01.xlsx</a>
</p></div>
<h4>
    Debt as a percentage of state personal income
</h4>
<p>
    Another common practice, used by credit rating agencies and academics, is
    to consider a state’s debt level relative to resources available for
    repayment.<sup>12</sup> A ratio
    comparing debt not only to population but to taxpayer earning power or
wealth is therefore beneficial.<sup>13</sup> Debt as a percentage
    of state personal income addresses this and is commonly used by states to
    evaluate debt levels.
</p>
<div class="pct-note"><p>
    <strong>Sources:</strong> Pew analysis of data from U.S. Census Bureau, “Annual Survey of
    State and Local Government Finances,” 2015 Data Release (2018),
    <a
        href="https://www.census.gov/programs-surveys/gov-finances/newsroom/updates/release.html"
    >
        https://www.census.gov/programs-surveys/gov-finances/newsroom/updates/release.html</a>
    ; U.S. Bureau of Economic Analysis, “SA1 Personal Income Summary: Personal
    Income, Population, Per Capita Personal Income,”
    https://www.bea.gov/data/income-saving/personal-income-by-state.
</p></div>
<aside class="pct-box">
        <h4>Census Data vs. Moody’s Net Tax-Supported Debt Calculations</h4>
    
	<p>
	    While debt affordability studies often use Moody’s Investors Service Inc.
	    calculations of state net tax-supported debt to compare borrowing, The Pew
	    Charitable Trusts used U.S. Census Bureau data for two reasons.
	</p>
	<p>
	    First, the Census Bureau captures a broader scope of debt than does
	    Moody’s, including some debt held by dependent agencies such as public
	authorities and component units,<sup>14</sup> giving a more
	    accurate representation of the debt burden supported by a state’s
	    residents.<sup>15</sup> Second, the
	    bureau analyzes how closely the dependent agencies it includes in its
	    definition of state debt are fiscally or administratively tied to the
	    state. Because ultimate responsibility for a debt can be nebulous—and a
	    state may not support the liabilities of its more independent entities—this
	further ensures an accurate description of state debt.<sup>16</sup> 
	</p>
</aside>
<h3 class="static">
    Credit ratings (September 2018 and September 2015)
</h3>
<p>
    This tool allows users to group states by Standard &amp; Poor’s credit
    ratings to explore differences among those with similar credit profiles.
    The user can select credit ratings from 2018 or 2015 to look at either
    recent information or information corresponding to other, earlier data
    points in this tool.
</p>
<div class="pct-note"><p>
    <strong>Note:</strong> Pew collected ratings on general obligation issuance as of September
    2018 and September 2015. If the state does not issue GO bonds, the rating
    on the senior-most tax-backed issuance was used instead. In addition to
    S&amp;P, there are two other major credit rating agencies: Moody’s and
    Fitch. There is little variation in ratings among the three agencies.
</p></div>
<div class="pct-endnotes">
    
    <div id="edn1">
        <p>
 1. 
            The Pew Charitable Trusts, “Strategies for Managing State Debt”
            (2017),
            <a
                href="http://www.pewtrusts.org/en/research-and-analysis/reports/2017/06/strategies-for-managing-state-debt"
            >
                http://www.pewtrusts.org/en/research-and-analysis/reports/2017/06/strategies-for-managing-state-debt</a>.
        </p>
    </div>
    <div id="edn2">
        <p>
 2. 
            Ibid.
        </p>
    </div>
    <div id="edn3">
        <p>
 3. 
            Research on state borrowing practices has found that debt limits
            decrease the centralization of state debt as states borrow through
            other entities to circumvent these limits. See Beverly S. Bunch,
            “The Effect of Constitutional Debt Limits on State Governments’ Use
            of Public Authorities,” <cite>Public Choice </cite>68, no. 1-3 (1991):
            57-69,
            <a href="https://link.springer.com/article/10.1007/BF00173819">
                https://link.springer.com/article/10.1007/BF00173819</a>
            ; Rhonda Riherd Trautman, “The Impact of State Debt Management on
            Debt Activity,” <cite>Public Budgeting &amp; Finance </cite>15, no. 2
            (1995): 33-51,
            <a href="https://doi.org/10.1111/1540-5850.01038">
                https://doi.org/10.1111/1540-5850.01038</a>.
        </p>
    </div>
    <div id="edn4">
        <p>
 4. 
            For more detail on how we collected these data, see The Pew
            Charitable Trusts, “Strategies for Managing State Debt,”
            methodology.
        </p>
    </div>
    <div id="edn5">
        <p>
 5. 
            For a discussion of the relationship between debt limits and local
            borrowing, see D. Roderick Kiewiet and Kristin Szakaly,
            “Constitutional Limitations on Borrowing: An Analysis of State
Bonded Indebtedness,”            <cite>The Journal of Law, Economics &amp; Organization </cite>12, no. 1
            (1996): 62-97,
            <a
                href="https://www.jstor.org/stable/765039?seq=1#page_scan_tab_contents"
            >
                https://www.jstor.org/stable/765039?seq=1#page_scan_tab_contents</a>.
        </p>
    </div>
    <div id="edn6">
        <p>
 6. 
            One study found that as economic volatility increases, states
            prefer to pay for infrastructure projects with cash rather than
            through financing. Wen Wang, Yilin Hou, and William Duncome,
            “Determinants of Pay-as-You-Go Financing of Capital Projects:
            Evidence From the States,” <cite>Public Budgeting &amp; Finance </cite>
            27, no. 4 (2007): 18-42,
            <a href="https://doi.org/10.1111/j.1540-5850.2007.00892.x">
                https://doi.org/10.1111/j.1540-5850.2007.00892.x</a>.
        </p>
    </div>
    <div id="edn7">
        <p>
 7. 
            The Pew Charitable Trusts, “Tax Revenue Volatility Varies Across
            States, Revenue Streams,” accessed Sept. 10, 2018,
            <a
                href="http://www.pewtrusts.org/en/multimedia/data-visualizations/2014/fiscal-50#ind6"
            >
                http://www.pewtrusts.org/en/multimedia/data-visualizations/2014/fiscal-50#ind6</a>.
        </p>
    </div>
    <div id="edn8">
        <p>
 8. 
            Ronald C. Fisher and Robert W. Wassmer, “The Issuance of State and
Local Debt During the United States Great Recession,”            <cite>National Tax Journal</cite> 67, no. 1 (2014): 113-50,
            <a
                href="https://ideas.repec.org/a/ntj/journl/v67y2014i1p113-150.html"
            >
                https://ideas.repec.org/a/ntj/journl/v67y2014i1p113-150.html</a>
            ; Ronald C. Fisher and Robert W. Wassmer, “An Analysis of
State-Local Government Capital Expenditure During the 2000s,”            <cite>Public Budgeting &amp; Finance</cite> 35, no. 1 (2015): 3-28,
            <a
                href="https://onlinelibrary.wiley.com/doi/abs/10.1111/pbaf.12062"
            >
                https://onlinelibrary.wiley.com/doi/abs/10.1111/pbaf.12062</a>.
        </p>
    </div>
    <div id="edn9">
        <p>
 9. 
            The National Bureau of Economic Research, “US Business Cycle
            Expansions and Contractions,” Sept. 20, 2010,
            <a href="http://www.nber.org/cycles.html">
                http://www.nber.org/cycles.html</a>.
        </p>
    </div>
    <div id="edn10">
        <p>
 10. 
            Jennifer Weiner, “Assessing the Affordability of State Debt,” New
            England Public Policy Center at the Federal Reserve Bank of Boston
            (2013),
            <a
                href="https://www.bostonfed.org/publications/new-england-public-policy-center-research-report/2013/assessing-the-affordability-of-state-debt.aspx"
            >
                https://www.bostonfed.org/publications/new-england-public-policy-center-research-report/2013/assessing-the-affordability-of-state-debt.aspx</a>.
        </p>
    </div>
    <div id="edn11">
        <p>
 11. 
            In CAFRs, states report debt service payments from a variety of
            funds. Using this information to construct a comparable measure of
            debt service as a share of general fund revenue requires a detailed
            understanding of each state’s reporting practices.
        </p>
    </div>
    <div id="edn12">
        <p>
 12. 
            Jennifer Weiner, “A Guide to State Debt Affordability Studies:
            Common Elements and Best Practices,” New England Public Policy
            Center at the Federal Reserve Bank of Boston (2013),
            <a
                href="https://www.bostonfed.org/publications/new-england-public-policy-center-policy-brief/2013/a-guide-to-state-debt-affordability-studies-common-elements-and-best-practices.aspx"
            >
                https://www.bostonfed.org/publications/new-england-public-policy-center-policy-brief/2013/a-guide-to-state-debt-affordability-studies-common-elements-and-best-practices.aspx</a>
            ; Charles Brecher, Kurt Richwerger, and Marcia Van Wagner, “An
Approach to Measuring the Affordability of State Debt,”            <cite>Public Budgeting &amp; Finance</cite> 23, no. 4 (2003): 65-85,
            <a
                href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.0275-1100.2003.02304004.x"
            >
                https://onlinelibrary.wiley.com/doi/abs/10.1111/j.0275-1100.2003.02304004.x</a>.
        </p>
    </div>
    <div id="edn13">
        <p>
 13. 
            W. Bartley Hildreth and Gerald J. Miller, “Debt and the Local
            Economy: Problems in Benchmarking Local Government Debt
            Affordability,” <cite>Public Budgeting &amp; Finance</cite> 22, no. 4
            (2003): 99-113,
            <a href="https://doi.org/10.1111/1540-5850.00091">
                https://doi.org/10.1111/1540-5850.00091</a>.
        </p>
    </div>
    <div id="edn14">
        <p>
 14. 
            Component units are entities that are legally separate from a state
            but perform state functions. They typically include bodies such as
            housing authorities, economic development corporations, and
            universities.
        </p>
    </div>
    <div id="edn15">
        <p>
 15. 
            Weiner, “A Guide.”
        </p>
    </div>
    <div id="edn16">
        <p>
 16. 
            Bo Zhao and Wen Wang, “Transparency in State Debt Disclosure,” New
            England Public Policy Center at the Federal Reserve Bank of Boston
            (2017),
            <a
                href="https://www.bostonfed.org/publications/research-department-working-paper/2017/transparency-in-state-debt-disclosure.aspx"
            >
                https://www.bostonfed.org/publications/research-department-working-paper/2017/transparency-in-state-debt-disclosure.aspx</a>.
        </p>
    </div>
</div>

    </div>
    </section>