<!-- EMBED CODE STARTS HERE -->
    <main role="main" id="pew-app" class="pct-section no-js">
        <script>
            // rollbar code goes here
        
        </script>
        <!--<script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch,Promise,WebAnimations,Element.prototype.classList,Array.prototype.find"></script>-->
        <% for (var css in htmlWebpackPlugin.files.css) { %>
          <link class="emitted-css" href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
        <% } %> 
    </main>
    <div class="clearfix"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script class="emitted-bundle" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
<!-- END EMBED -->